.Item {
    border-radius: 3px;
    box-shadow: -1px 1px 3px #ccc;
    padding: 20px;
}
.Item:hover {
    border: 1px solid #ccc;
    border-bottom: 10px solid orange;
}
.Item p {
    margin-top: 10px;
}
.Item p:first-of-type {
    margin-bottom: 10px;
}
.Item img {
    max-height: 150px;
    width: auto;
    
}
.Price::before {
    display: block;
    content: " ";
    width: 100%;
    border-top: 1px solid red;
    margin-bottom: 10px;
}
.AddToCart {
    background-color: green;
    color: white;
}
.AddToCart:hover {
    background-color: rgb(0, 158, 0);
}
.Price {
    color: rgb(228, 0, 0);
    font-weight: bold;
}
.InWarehouse {
    color: green;
    font-size: 0.8em;
}
.AddToWishlist {
    background-color: rgb(20, 75, 255);
    color: white;
}
.AddToWishlist:hover {
    background-color: rgb(0, 45, 194);
}
.Remove {
    background-color: #ccc;
    color: #222222;
}
.Remove:hover {
    background-color: #aaa;
}
.Item button {
    display: block;
    margin: 0 auto;
    padding: 8px;
    border: none;
    border-radius: 3px;
    width: 100%;
    font-weight: bold;
    margin-top: 8px;
}
