.UserLinks {
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    align-items: center;
}
.Auth {
    position: absolute;
    display: none;
    background-color: #fff;
    padding: 20px;
    width: 250px;
    text-align: center;
}
.Auth p {
    font-size: 0.9em;
    margin: 10px;
}
.authLinks {
    cursor: pointer;
}
.authLinks:hover .Auth {
    display: block;
}
.Auth hr {
    margin: 20px 0;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));

}

.Auth a {
    text-align: center;
    background-color: green;
    padding: 10px;
    border-radius: 5px;
    margin: 10px auto;
    width: 100%;
    color: #fff !important;
    border:none;
}
.Auth a:hover {
    background-color: rgb(0, 194, 0);
}
.Wishlist {
    position: absolute;
    display: none;
    background-color: #fff;
    max-width: 350px;
    right: 0;
    color: #484848;
    border: 1px solid #eee;
    width: auto;
}
.list{
    cursor: pointer;
}
.list:hover .Wishlist {
    display: block;
}
.cart {
    cursor: pointer;
}
.cart:hover .Wishlist {
    display: block
}