.UserLinks {
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    align-items: center;
    position: relative;
}
.Auth, .Profile, .Wishlist, .Cart  {
    min-width: 250px;
    position: absolute;
    display: none;
    background-color: #fff;
    padding: 20px;
    width: auto;
    text-align: center;
    z-index: 200;
}
.Auth {
    left: 0t;
} 
.Profile {
    left: 0;
} 
.Wishlist {
    left: 0;
}
.Cart {
    right: 0;
}
.Auth p {
    font-size: 0.9em;
    margin: 10px;
}
.authLinks {
    position: relative;
    cursor: pointer;
}
.authLinks:hover .Auth {
    display: block;
}
.Profile {
    display: none;
}
.authLinks:hover .Profile {
    display: block;
}
.Auth hr {
    margin: 20px 0;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));

}

.Auth a {
    text-align: center;
    background-color: green;
    padding: 10px;
    border-radius: 5px;
    margin: 10px auto;
    width: 100%;
    color: #fff !important;
    border:none;
}
.Auth a:hover {
    background-color: rgb(0, 194, 0);
}

.list{
    cursor: pointer;
    position: relative;
}
.list:hover .Wishlist {
    display: block;
}
.cart {
    cursor: pointer;
    position: relative;
}
.cart:hover .Cart {
    display: block
}
@media only screen and (max-width:360px) {
    .UserLinks {
        margin-left: 0;
        justify-content: space-around;
    }
}