.SearchBar {
   display: flex; 
   height: 45px;
   width: 100%;
}
.SearchBar button {
    margin: 0;
    padding: 10px 15px;
    cursor: pointer;
    border: none;
    background-color: #F34E46;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
input[type='text'] {
    height: 100%;
    width: 500px;
    padding-left: 20px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}
input[type='text']:focus {
    background-color: #efefef;
    outline: none;
}
@media only screen and (max-width: 1024px){
    input[type='text'] {
        width: 400px;
    }
}
@media only screen and (max-width: 768px){
    input[type='text'] {
        width: 100%;
        
    }
    .SearchBar {
        margin-bottom: 15px;
    }
}
@media only screen and (max-width: 360px){
    .SearchBar {
        height: 35px;
    }
    .SearchBar input[type='text'] {
        font-size: 0.9em;
    }
} 

