.SideMenu {
    width: 300px;
    position: relative;
}
.SideMenu:hover .SideLinks {
    display: block;
}
.Controls {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 10px;
    background-color: #999;
    position: relative;
}

.Controls p {
    text-transform: uppercase;
    margin-left: 10px;
    font-weight: 700;
    color: #fefefe;
}
.Controls img {
    height: 12px;
    position: absolute;
    right: 12px;
    width: auto;
}
.SideLinks {
    display: none;
    position: absolute;
    width: 100%;
    z-index: 1;
    background-color: #fffeee
}