.Table {
    border-collapse: collapse;
    margin: 2rem 0 1rem 0;
    width: 100%;
    text-align: left;
}
.Table thead tr,th {
    padding: 20px;
    background-color: #eee;
}
.Table tr {
    border: 1px solid #efefef;
}
.TableContainer {
    overflow-x: auto;
}

