.Links {
    border: 1px solid #ccc;
    box-shadow: -1px 1px 5px #ccc;
}
.Links ul {
    list-style: none;   
}
.Links ul li {
    padding: 5px 15px;
    margin: 0px 0;
}
.Links ul li a {
    text-decoration: none;
    font-size: 0.8em;
    color: rgb(75, 75, 75);
}
.Links ul li:hover {
    background-color: rgb(67, 238, 67);
}