.Icon {
    height: 30px;
    width: auto;
    margin-right: 15px;
}
.Wrapper {
    display: flex;
    margin-right: 20px;
}
.Wrapper > a {
    font-size: 14px;
    margin: auto 0;
    text-decoration: none;
    color: #484848;
}
.Wrapper > a:hover {
    color: rgb(70, 70, 255);
}
.Wrapper > div {
    font-size: 14px;
    text-decoration: none;
    color: #484848;
    cursor: pointer;
}