.Header {
    height: 100px;
    margin: auto;
    border-bottom: 1px solid #ccc;
    padding: 10px 20px;
    display: flex;
}
.FlexContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 30px;
}
.HorizontalFlex {
    display: flex;
    flex-direction: row;
}
