.Image {
    height: 100%;
    width: auto;
    display: inline-block;
}
.RowData td {
    height: 80px; 
    background-color: #f8f8f8;
    padding: 15px;
}
.RowData td:first-child {
    display: flex;
    align-items: center;
}
.RowData {
    border: 1px solid #ccc;
}
.Amount {
    width: 50px;
    border-radius: 2px;
    
    border: 1px solid #ccc;
    padding: 5px;
}
